---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

interface Props {
    imgs: Array<{
        src: string;
        alt: string;
    }>;
    showControlsPhone?: boolean;
}

const { imgs, showControlsPhone = true } = Astro.props;
---

<!-- Slider main container -->
<div class="swiper h-full">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {
            imgs.map((img) => (
                <div class="swiper-slide">
                    <img class="w-full h-full" src={img.src} alt={img.alt} />
                </div>
            ))
        }
    </div>
    <div class={`lg:visible lg:block ${!showControlsPhone && "hidden"}`}>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script>
    import Swiper from "swiper";
    import { Navigation, Pagination, Autoplay } from "swiper/modules";

    document.addEventListener("DOMContentLoaded", () => {
        new Swiper(".swiper", {
            direction: "horizontal",
            loop: true,
            modules: [Navigation, Pagination, Autoplay],
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 3000, // tiempo en milisegundos entre cada slide
                disableOnInteraction: false, // sigue reproduciendo aunque el usuario interactúe
            },
            scrollbar: {
                el: ".swiper-scrollbar",
            },
        });
    });
</script>
<style>
    :global(.swiper-pagination-bullet) {
        width: 20px;
        height: 20px;
        background-color: #fff;
        opacity: 0.5;
        border-radius: 50%;
        margin: 0 12px;
        transition: opacity 0.3s;
    }

    :global(.swiper-pagination-bullet-active) {
        width: 23px;
        height: 23px;
        background-color: rgb(9, 237, 9);
        opacity: 1;
    }

    /* Color de las flechas */
    .swiper-button-next,
    .swiper-button-prev {
        color: #fff; /* verde oscuro */
        font-size: 24px; /* opcional: tamaño del ícono */
    }

    /* Opcional: hover para flechas */
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        color: #63ff9c; /* verde claro */
    }
</style>
