---
import { routes, routesNavbar } from "../data/routes";
import NavigationSideBar from "./NavigationSideBar.astro";

const isLogin = Astro.url.pathname == routes.login.url;
---

<header
    class="flex fixed translate-y-0 inset-x-0 z-50 justify-between items-center bg-green-500 pb-1 px-4 h-20"
>
    <a href={isLogin ? "/" : "home"}>
        <img
            class="w-16 lg:w-20 lg:h-full object-fill"
            src="../logos/logo1.png"
            alt="logo del instituto"
        />
    </a>

    <h2
        class="w-full text-center lg:text-4xl md:text-xl text-sm text-white font-bold"
    >
        CBTA 71 TLALNEPANTLA, MOR
    </h2>

    {
        !isLogin && (
            <button
                id="showNavbar"
                class="ml-1.5 flex items-center justify-center cursor-pointen visible text-white cursor-pointer lg:hidden"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-8"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                    />
                </svg>
            </button>
        )
    }
</header>

<NavigationSideBar isMovil={true} />

<script>
    const buttonShowNavbar = document.getElementById(
        "showNavbar",
    ) as HTMLButtonElement;
    const divNavbarMobil = document.getElementById(
        "container-navbarMobil",
    ) as HTMLDivElement;
    const divNav = document.getElementById("divNav") as HTMLDivElement;
    const bgNavbar = document.getElementById("bg-navbar") as HTMLDivElement;
    const body = document.querySelector("body") as HTMLBodyElement;

    if (buttonShowNavbar != null)
        buttonShowNavbar.addEventListener("click", showNavbar);

    function showNavbar() {
        // 1. Mostrar el navbar sin transición aún
        divNav.classList.remove("hidden")
        divNavbarMobil.classList.remove("hidden");
        requestAnimationFrame(() => {
            divNavbarMobil.classList.add("show-navbar");
        });
        bgNavbar.classList.remove("hidden");
        body.classList.add("overflow-y-hidden");
        console.log("Llamado a hidden");
    }
</script>
