---
interface Props {
    url: string;
    title: string;
    isMovil?: boolean
}

const { url, title, isMovil = false } = Astro.props;
const currentPath = Astro.url.pathname;
const active = currentPath == url;
---

<a href={url} title={title} class={`${!isMovil ? "links-navbar" : ""} w-full flex gap-2 items-center font-normal py-2 pl-2 rounded-md hover:bg-white/35 active:bg-white/35 ${active && "bg-white/35 font-semibold"}`}>
    {active ? <slot name="iconFilled" /> : <slot name="iconOutline" />}
    <p class={`${!isMovil ? "showText" : ""}`}>{title}</p>
</a>