---
import DivWithNavbar from "../../../components/DivWithNavbar.astro";
import Layout from "../../../layouts/Layout.astro";
---

<div class="px-2 py-4 border-2 h-[24rem] mt-6">
    <h2 class="text-xl md:text-4xl font-semibold">Información General</h2>

    <p class="break-words mt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        minima ducimus sint provident exercitationem tenetur eius consectetur
        animi, eaque, nam, sequi et ratione molestias ipsum unde accusamus qui
        quaerat cumque.
    </p>
</div>
