---
const heads = [
    "Id",
    "Matricula",
    "Nombre",
    "Apellidos",
    "Carrera",
    "Semestre",
    "Grupo",
    "Estatus",
    "Promedio General",
];

const student = {
    id: -1,
    matricula: "",
    nombre: "",
    apelldios: "",
    carrera: "",
    semestre: 0,
    grupo: "",
    estatus: "",
    promedio_general: 0,
};
---

<div class="border px-2 py-2 overflow-auto">
    <div class="w-full flex flex-col min-w-max ">
        <table
            class="relative w-full table-auto border-collapse border border-gray-400"
        >
            <thead>
                <tr>
                    {
                        heads.map((head, i) => (
                            <th class="border border-gray-400">{head}</th>
                        ))
                    }
                </tr>
            </thead>

            <tbody>
                <tr>
                    {
                        Object.values(student).map((data) => (
                            <td class="max-w-12 border border-gray-400 p-1.5">
                                <div>
                                    <p class="w-full text-center overflow-hidden overflow-ellipsis">
                                        {data}
                                    </p>
                                </div>
                            </td>
                        ))
                    }
                </tr>
            </tbody>
        </table>

        <h3 class="mt-2 font-bold text-center border border-gray-400">
            Agosto/Diciembre 2025
        </h3>
        <table
            class="mt-2 w-full border border-collapse table-auto border-gray-400"
        >
            <thead>
                <tr>
                    <th class="border border-gray-400">ID</th>
                    <th class="border border-gray-400">Materia</th>
                    <th class="border border-gray-400">Maestro</th>
                    <th class="border border-gray-400">Horas</th>
                    <th class="border border-gray-400">
                        <div class="min-w-max flex flex-col">
                            <div><p>Calificación</p></div>
                            <div class="flex pr-2">
                                <div class="w-full flex justify-center">
                                    <p>1er</p>
                                </div>
                                <div class="w-full flex justify-center">
                                    <p>2do</p>
                                </div>
                                <div class="w-full flex justify-center">
                                    <p>3ro</p>
                                </div>
                                <div class="w-full flex justify-center">
                                    <p>Estatus</p>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th class="border border-gray-400">Promedio</th>
                </tr>
            </thead>

            <tbody>
                {
                    Array.from({ length: 5 }, () => 0).map((_, i) => (
                        <tr>
                            <td class="border border-gray-400 max-w-5">
                                <p class="w-full text-center overflow-hidden overflow-ellipsis break-words">
                                    {i + 1}
                                </p>
                            </td>
                            <td class="border border-gray-400 max-w-12">
                                <p class="w-full text-center overflow-hidden overflow-ellipsis px-2 break-words">
                                    Quimica
                                </p>
                            </td>
                            <td class="border border-gray-400 max-w-28">
                                <p class="w-full text-center overflow-hidden overflow-ellipsis break-words">
                                    Susan Perez
                                </p>
                            </td>
                            <td class="border border-gray-400 max-w-8">
                                <p class="w-full text-center overflow-hidden overflow-ellipsis break-words">
                                    96/96
                                </p>
                            </td>
                            <td class="border border-gray-400">
                                <div class="flex pr-2">
                                    <p class="w-full text-center">7.5</p>
                                    <p class="w-full text-center">8.2</p>
                                    <p class="w-full text-center">8.5</p>
                                    <p class="w-full text-center min-w-20 overflow-hidden overflow-ellipsis break-words">
                                        Aprobado
                                    </p>
                                </div>
                            </td>
                            <td>
                                <p class="text-center">8.0</p>
                            </td>
                        </tr>
                    ))
                }
                <tr>
                    <td class="border-b border-gray-400" colspan={6}>
                        <div class="w-full flex">
                            <div class="w-full"></div>
                            <div class="w-full"></div>
                            <div
                                class="border-collapse border-x border-gray-400"
                            >
                                <p class="font-semibold w-24 text-center">
                                    Promedio Semestral
                                </p>
                            </div>
                            <div
                                class="-mt-[0.5px] flex items-center justify-center w-full border-t border-gray-400"
                            >
                                <p class="text-center">8.3</p>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="border-l border-b border-white" colspan={6}>
                        <div class="w-full flex">
                            <div class="w-full"></div>
                            <div class="w-full"></div>
                            <div
                                class="border-collapse border-x border-b border-gray-400"
                            >
                                <p class="font-semibold w-24 text-center">
                                    Promedio General
                                </p>
                            </div>
                            <div
                                class="-mt-[0.5px] flex items-center justify-center w-full border-b border-gray-400"
                            >
                                <p class="text-center">8.3</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
