---
import HomeStaff from "../view/home/staff/homeStaff.astro";
import ContentHomeAspirant from "../view/home/aspirant/ContentHomeAspirant.astro";
import HomeStudent from "../view/home/student/homeStudent.astro";
---

<div class="alumno hidden">
    <HomeStudent />
</div>
<div class="aspirantes hidden">
    <ContentHomeAspirant />
</div>
<div class="personal hidden">
    <HomeStaff />
</div>
