---
import CardUseRecently from "../components/CardUseRecently.astro";
import DivWithNavbar from "../components/DivWithNavbar.astro";
import Layout from "../layouts/Layout.astro";

const title = "Inicio";

// Ocupar una ruta real que regrese los datos
// const items = await fetch("http://localhost:4321/home")
//   .then((res) => res.json());

const items = [
    {
        title: "Roles",
        url: "#",
        img: "/img/bg-1.png",
        alt: "Imagen demo",
    },
    {
        title: "Alumnos",
        url: "#",
        img: "/img/bg-2.png",
        alt: "Imagen demo",
    },
    {
        title: "Docentes",
        url: "#",
        img: "/img/bg-1.png",
        alt: "Imagen demo",
    },
    {
        title: "Personal",
        url: "#",
        img: "/img/bg-2.png",
        alt: "Imagen demo",
    },
];
---

<Layout title={title}>
    <DivWithNavbar title={title}>
        <p class="text-lg font-semibold">Usados recientes</p>
        <div class="flex flex-wrap justify-evenly gap-x-1 gap-y-2 mt-2">
            {items.map((item: any) => <CardUseRecently item={item} />)}
        </div>
    </DivWithNavbar>
</Layout>
