---
import DivWithNavbar from "../components/DivWithNavbar.astro";
import { routes } from "../data/routes";
import Layout from "../layouts/Layout.astro";
import ContentRating from "../view/rating/ContentRating";

const linksSubNavbar = [
    { tab: "", value: "Buscar" },
    { tab: "rating-capture", value: "Capturar" },
];
---

<Layout title="Calificaciones">
    <DivWithNavbar title="Calificaciones">
        <div class="w-full">
            <ContentRating
                opcionTab={linksSubNavbar}
                routePrimary={routes.ratings.url}
                client:load
            />
        </div>
    </DivWithNavbar>
</Layout>
