---
import DivWithNavbar from "../components/DivWithNavbar.astro";
import { routes } from "../data/routes";
import Layout from "../layouts/Layout.astro";
import ContentRole from "../view/roles/ContentRole.jsx";

const linksSubNavbar = [
    { tab: "", value: "Roles" },
    { tab: "role-enable", value: "Habilitar" },
];
---

<Layout title="Roles">
    <DivWithNavbar title="Roles">
        <div class="w-full">
            <ContentRole opcionTab={linksSubNavbar} routePrimary={routes.roles.url} client:load />
        </div>
    </DivWithNavbar>
</Layout>
