---
import DivWithNavbar from "../components/DivWithNavbar.astro";
import LinkSubnavbar from "../components/Link.Subnavbar.astro";
import { routes } from "../data/routes";
import Layout from "../layouts/Layout.astro";
import TableRole from "./roles/TableRole.jsx";
---

<Layout title="Roles">
    <DivWithNavbar title="Roles">
        <div class="flex gap-2">
            <LinkSubnavbar
                href={routes.roles.url}
                title="Roles"
                active={true}
            />
            <LinkSubnavbar
                href={routes.roles.url + "#roles-enable"}
                title="Habilitar"
            />
        </div>

        <div class="w-full">
            <TableRole client:load />
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
        /><br /><br /><br /><br />
    </DivWithNavbar>
</Layout>
